body{
    font-family: Arial, sans-serif;
    margin:0;
    padding: 0;
    line-height: 1.6;
    color: gray;
}
 
h2{
    text-align: center;
    color: blue;
    margin-bottom: 20px;
}
 
p {
    text-align: center;
    margin-bottom: 30px;
 
}
 
.header{
    background: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
 
.header nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
 
.header nav a:hover{
    text-decoration: underline;
 
}
 
.contact-page {
    padding: 40px 20px;
    background: white;
}
 
.contact-form-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
 
.contact-form, .contact-info{
    flex:1;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px black(0, 0, 0, 0.1);
}
 
.contact-form{
    max-width: 600px;
}
 
.contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
 
.contact-form input, .contact-form textarea {
    width: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1rem;
}
 
.contact-form input:focus, .contact-form textarea:focus{
    border-color: blue;
    box-shadow: 0 0 5px blue(0, 86, 214, 0.5);
    outline: none;
}
 
.contact-form .btn{
    background: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
.contact-form .btn:hover{
    background-color: blue;
}
 